<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>433736175165-i8rfbpq73ec838ubud0kusn9c0qkguq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433736175165-i8rfbpq73ec838ubud0kusn9c0qkguq9</string>
	<key>API_KEY</key>
	<string>AIzaSyA-JpgWEb3-2PP6TDkGoPaG-kenr32euAo</string>
	<key>GCM_SENDER_ID</key>
	<string>433736175165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mlin.InstagramLBTA</string>
	<key>PROJECT_ID</key>
	<string>lbtainstagram</string>
	<key>STORAGE_BUCKET</key>
	<string>lbtainstagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433736175165:ios:235a2e7130cf3407</string>
	<key>DATABASE_URL</key>
	<string>https://lbtainstagram.firebaseio.com</string>
</dict>
</plist>